# Dependencies
node_modules/

# Compilation Output
out/

# IDE / Editor
.vscode/*
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
*.vsix
**/*.map

# Tests and coverage
.vscode-test/

# OS specific
.DS_Store
Thumbs.db

# Misc
*.log
TECHNICAL_AUDIT.md
CHANGELOG.md.bak